# Ignore node_modules directory
node_modules/

# Ignore npm's debug log
npm-debug.log

# Ignore environment-specific files
.env

# Ignore any log files
logs/
*.log

# Ignore build artifacts and production files
dist/
build/

# Ignore local development files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store
